# Build folders
bin/
obj/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache and settings
.vs/

# Ignore all installers in the Programlar folder
Programlar/

# Ignore zip releases in the project root
*.zip
*.rar
