# Build and Output Directories
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# IDE and Project Specific Files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# OS-specific files
.DS_Store
Thumbs.db
