# Build folders
bin/
obj/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache and settings
.vs/

# Programlar installers (to avoid uploading large setup files to GitHub)
Programlar/chrome_installer.exe
Programlar/adobe_reader.exe
Programlar/alpemix.exe
